/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.24_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.24_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/styles/InstructionsComponent.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.InstructionsComponent_container__Z0edx{
	color: white;
	display: flex;
	flex-direction: column;
	height: 80vh;
	width: 100%;
	align-items: center;
}

.InstructionsComponent_header_container__XgzNV{
	margin-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.InstructionsComponent_header_container__XgzNV h1{
	font-size: 64px;

}


.InstructionsComponent_header_container__XgzNV h1 span{
	background: linear-gradient(140deg, rgba(54,190,255,1) 0%, rgba(115,63,241,1) 100%);
	-webkit-background-clip: text;
	        background-clip: text;
	color: transparent;
}

.InstructionsComponent_header_container__XgzNV p{
	font-size: 20px;

}

.InstructionsComponent_header_container__XgzNV p span{
	color: #D73719;
	width: 197px;
height: 36px;


background: rgba(255, 255, 255, 0.08);
border-radius: 8px;
	padding: .5rem 1rem .5rem .5rem;
	margin-left: .3rem;
}




.InstructionsComponent_buttons_container__51fus{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	align-content: center;
	flex-wrap: wrap;
	gap: 1rem;
}

.InstructionsComponent_button__Q7NWP{
	display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

padding: 24px 32px;
gap: 12px;

width: 392px;
height: 76px;

background: rgba(0, 0, 0, 0.8);
/* Grayscale/Metal */

border: 1px solid #4E4E4E;
border-radius: 12px;
cursor: pointer;
}

.InstructionsComponent_button__Q7NWP p {

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}
.InstructionsComponent_footer__zdB7N{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
}
.InstructionsComponent_icons_container__QEmxY{
	display: flex;
	gap: 2rem;
	margin-bottom: .5rem;
}
